<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yczn.mapper.DcDishStyleMapper" >
  <resultMap id="BaseResultMap" type="com.yczn.pojo.dc.DcDishStyle" >
    <id column="DishStyleID" property="dishstyleid" jdbcType="BIGINT" />
    <result column="ShiTangID" property="shitangid" jdbcType="BIGINT" />
    <result column="DishStyleNo" property="dishstyleno" jdbcType="VARCHAR" />
    <result column="DishStyleName" property="dishstylename" jdbcType="VARCHAR" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="ImagePath" property="imagepath" jdbcType="VARCHAR" />
    <result column="FoodTypeID" property="foodtypeid" jdbcType="BIGINT" />
    <result column="MealTypeID1" property="mealtypeid1" jdbcType="BIT" />
    <result column="MealTypeID2" property="mealtypeid2" jdbcType="BIT" />
    <result column="MealTypeID3" property="mealtypeid3" jdbcType="BIT" />
    <result column="MealTypeID4" property="mealtypeid4" jdbcType="BIT" />
    <result column="StartTime" property="starttime" jdbcType="VARCHAR" />
    <result column="EndTime" property="endtime" jdbcType="VARCHAR" />
    <result column="MaxNum" property="maxnum" jdbcType="INTEGER" />
    <result column="Notes" property="notes" jdbcType="VARCHAR" />
    <result column="DishStyleStatus" property="dishstylestatus" jdbcType="BIT" />
    <result column="F1" property="f1" jdbcType="VARCHAR" />
    <result column="F2" property="f2" jdbcType="VARCHAR" />
    <result column="F3" property="f3" jdbcType="VARCHAR" />
    <result column="StatusID" property="statusid" jdbcType="SMALLINT" />
    <result column="CreateUserID" property="createuserid" jdbcType="BIGINT" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="ModifyUserID" property="modifyuserid" jdbcType="BIGINT" />
    <result column="ModifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="DishStyleCount" property="dishstylecount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DishStyleID, ShiTangID, DishStyleNo, DishStyleName, Price, ImagePath, FoodTypeID, 
    MealTypeID1, MealTypeID2, MealTypeID3, MealTypeID4, StartTime, EndTime, MaxNum, Notes, 
    DishStyleStatus, F1, F2, F3, StatusID, CreateUserID, CreateDate, ModifyUserID, ModifyDate, 
    DishStyleCount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yczn.pojo.dc.DcDishStyleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from DC_DishStyle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from DC_DishStyle
    where DishStyleID = #{dishstyleid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from DC_DishStyle
    where DishStyleID = #{dishstyleid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yczn.pojo.dc.DcDishStyleExample" >
    delete from DC_DishStyle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yczn.pojo.dc.DcDishStyle" >
    insert into DC_DishStyle (DishStyleID, ShiTangID, DishStyleNo, 
      DishStyleName, Price, ImagePath, 
      FoodTypeID, MealTypeID1, MealTypeID2, 
      MealTypeID3, MealTypeID4, StartTime, 
      EndTime, MaxNum, Notes, 
      DishStyleStatus, F1, F2, 
      F3, StatusID, CreateUserID, 
      CreateDate, ModifyUserID, ModifyDate, 
      DishStyleCount)
    values (#{dishstyleid,jdbcType=BIGINT}, #{shitangid,jdbcType=BIGINT}, #{dishstyleno,jdbcType=VARCHAR}, 
      #{dishstylename,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{imagepath,jdbcType=VARCHAR}, 
      #{foodtypeid,jdbcType=BIGINT}, #{mealtypeid1,jdbcType=BIT}, #{mealtypeid2,jdbcType=BIT}, 
      #{mealtypeid3,jdbcType=BIT}, #{mealtypeid4,jdbcType=BIT}, #{starttime,jdbcType=VARCHAR}, 
      #{endtime,jdbcType=VARCHAR}, #{maxnum,jdbcType=INTEGER}, #{notes,jdbcType=VARCHAR}, 
      #{dishstylestatus,jdbcType=BIT}, #{f1,jdbcType=VARCHAR}, #{f2,jdbcType=VARCHAR}, 
      #{f3,jdbcType=VARCHAR}, #{statusid,jdbcType=SMALLINT}, #{createuserid,jdbcType=BIGINT}, 
      #{createdate,jdbcType=TIMESTAMP}, #{modifyuserid,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{dishstylecount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yczn.pojo.dc.DcDishStyle" >
    insert into DC_DishStyle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dishstyleid != null" >
        DishStyleID,
      </if>
      <if test="shitangid != null" >
        ShiTangID,
      </if>
      <if test="dishstyleno != null" >
        DishStyleNo,
      </if>
      <if test="dishstylename != null" >
        DishStyleName,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="imagepath != null" >
        ImagePath,
      </if>
      <if test="foodtypeid != null" >
        FoodTypeID,
      </if>
      <if test="mealtypeid1 != null" >
        MealTypeID1,
      </if>
      <if test="mealtypeid2 != null" >
        MealTypeID2,
      </if>
      <if test="mealtypeid3 != null" >
        MealTypeID3,
      </if>
      <if test="mealtypeid4 != null" >
        MealTypeID4,
      </if>
      <if test="starttime != null" >
        StartTime,
      </if>
      <if test="endtime != null" >
        EndTime,
      </if>
      <if test="maxnum != null" >
        MaxNum,
      </if>
      <if test="notes != null" >
        Notes,
      </if>
      <if test="dishstylestatus != null" >
        DishStyleStatus,
      </if>
      <if test="f1 != null" >
        F1,
      </if>
      <if test="f2 != null" >
        F2,
      </if>
      <if test="f3 != null" >
        F3,
      </if>
      <if test="statusid != null" >
        StatusID,
      </if>
      <if test="createuserid != null" >
        CreateUserID,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="modifyuserid != null" >
        ModifyUserID,
      </if>
      <if test="modifydate != null" >
        ModifyDate,
      </if>
      <if test="dishstylecount != null" >
        DishStyleCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dishstyleid != null" >
        #{dishstyleid,jdbcType=BIGINT},
      </if>
      <if test="shitangid != null" >
        #{shitangid,jdbcType=BIGINT},
      </if>
      <if test="dishstyleno != null" >
        #{dishstyleno,jdbcType=VARCHAR},
      </if>
      <if test="dishstylename != null" >
        #{dishstylename,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="imagepath != null" >
        #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="foodtypeid != null" >
        #{foodtypeid,jdbcType=BIGINT},
      </if>
      <if test="mealtypeid1 != null" >
        #{mealtypeid1,jdbcType=BIT},
      </if>
      <if test="mealtypeid2 != null" >
        #{mealtypeid2,jdbcType=BIT},
      </if>
      <if test="mealtypeid3 != null" >
        #{mealtypeid3,jdbcType=BIT},
      </if>
      <if test="mealtypeid4 != null" >
        #{mealtypeid4,jdbcType=BIT},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="maxnum != null" >
        #{maxnum,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="dishstylestatus != null" >
        #{dishstylestatus,jdbcType=BIT},
      </if>
      <if test="f1 != null" >
        #{f1,jdbcType=VARCHAR},
      </if>
      <if test="f2 != null" >
        #{f2,jdbcType=VARCHAR},
      </if>
      <if test="f3 != null" >
        #{f3,jdbcType=VARCHAR},
      </if>
      <if test="statusid != null" >
        #{statusid,jdbcType=SMALLINT},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuserid != null" >
        #{modifyuserid,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="dishstylecount != null" >
        #{dishstylecount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yczn.pojo.dc.DcDishStyleExample" resultType="java.lang.Integer" >
    select count(*) from DC_DishStyle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DC_DishStyle
    <set >
      <if test="record.dishstyleid != null" >
        DishStyleID = #{record.dishstyleid,jdbcType=BIGINT},
      </if>
      <if test="record.shitangid != null" >
        ShiTangID = #{record.shitangid,jdbcType=BIGINT},
      </if>
      <if test="record.dishstyleno != null" >
        DishStyleNo = #{record.dishstyleno,jdbcType=VARCHAR},
      </if>
      <if test="record.dishstylename != null" >
        DishStyleName = #{record.dishstylename,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        Price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.imagepath != null" >
        ImagePath = #{record.imagepath,jdbcType=VARCHAR},
      </if>
      <if test="record.foodtypeid != null" >
        FoodTypeID = #{record.foodtypeid,jdbcType=BIGINT},
      </if>
      <if test="record.mealtypeid1 != null" >
        MealTypeID1 = #{record.mealtypeid1,jdbcType=BIT},
      </if>
      <if test="record.mealtypeid2 != null" >
        MealTypeID2 = #{record.mealtypeid2,jdbcType=BIT},
      </if>
      <if test="record.mealtypeid3 != null" >
        MealTypeID3 = #{record.mealtypeid3,jdbcType=BIT},
      </if>
      <if test="record.mealtypeid4 != null" >
        MealTypeID4 = #{record.mealtypeid4,jdbcType=BIT},
      </if>
      <if test="record.starttime != null" >
        StartTime = #{record.starttime,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        EndTime = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.maxnum != null" >
        MaxNum = #{record.maxnum,jdbcType=INTEGER},
      </if>
      <if test="record.notes != null" >
        Notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.dishstylestatus != null" >
        DishStyleStatus = #{record.dishstylestatus,jdbcType=BIT},
      </if>
      <if test="record.f1 != null" >
        F1 = #{record.f1,jdbcType=VARCHAR},
      </if>
      <if test="record.f2 != null" >
        F2 = #{record.f2,jdbcType=VARCHAR},
      </if>
      <if test="record.f3 != null" >
        F3 = #{record.f3,jdbcType=VARCHAR},
      </if>
      <if test="record.statusid != null" >
        StatusID = #{record.statusid,jdbcType=SMALLINT},
      </if>
      <if test="record.createuserid != null" >
        CreateUserID = #{record.createuserid,jdbcType=BIGINT},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyuserid != null" >
        ModifyUserID = #{record.modifyuserid,jdbcType=BIGINT},
      </if>
      <if test="record.modifydate != null" >
        ModifyDate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dishstylecount != null" >
        DishStyleCount = #{record.dishstylecount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DC_DishStyle
    set DishStyleID = #{record.dishstyleid,jdbcType=BIGINT},
      ShiTangID = #{record.shitangid,jdbcType=BIGINT},
      DishStyleNo = #{record.dishstyleno,jdbcType=VARCHAR},
      DishStyleName = #{record.dishstylename,jdbcType=VARCHAR},
      Price = #{record.price,jdbcType=DECIMAL},
      ImagePath = #{record.imagepath,jdbcType=VARCHAR},
      FoodTypeID = #{record.foodtypeid,jdbcType=BIGINT},
      MealTypeID1 = #{record.mealtypeid1,jdbcType=BIT},
      MealTypeID2 = #{record.mealtypeid2,jdbcType=BIT},
      MealTypeID3 = #{record.mealtypeid3,jdbcType=BIT},
      MealTypeID4 = #{record.mealtypeid4,jdbcType=BIT},
      StartTime = #{record.starttime,jdbcType=VARCHAR},
      EndTime = #{record.endtime,jdbcType=VARCHAR},
      MaxNum = #{record.maxnum,jdbcType=INTEGER},
      Notes = #{record.notes,jdbcType=VARCHAR},
      DishStyleStatus = #{record.dishstylestatus,jdbcType=BIT},
      F1 = #{record.f1,jdbcType=VARCHAR},
      F2 = #{record.f2,jdbcType=VARCHAR},
      F3 = #{record.f3,jdbcType=VARCHAR},
      StatusID = #{record.statusid,jdbcType=SMALLINT},
      CreateUserID = #{record.createuserid,jdbcType=BIGINT},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      ModifyUserID = #{record.modifyuserid,jdbcType=BIGINT},
      ModifyDate = #{record.modifydate,jdbcType=TIMESTAMP},
      DishStyleCount = #{record.dishstylecount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yczn.pojo.dc.DcDishStyle" >
    update DC_DishStyle
    <set >
      <if test="shitangid != null" >
        ShiTangID = #{shitangid,jdbcType=BIGINT},
      </if>
      <if test="dishstyleno != null" >
        DishStyleNo = #{dishstyleno,jdbcType=VARCHAR},
      </if>
      <if test="dishstylename != null" >
        DishStyleName = #{dishstylename,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="imagepath != null" >
        ImagePath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="foodtypeid != null" >
        FoodTypeID = #{foodtypeid,jdbcType=BIGINT},
      </if>
      <if test="mealtypeid1 != null" >
        MealTypeID1 = #{mealtypeid1,jdbcType=BIT},
      </if>
      <if test="mealtypeid2 != null" >
        MealTypeID2 = #{mealtypeid2,jdbcType=BIT},
      </if>
      <if test="mealtypeid3 != null" >
        MealTypeID3 = #{mealtypeid3,jdbcType=BIT},
      </if>
      <if test="mealtypeid4 != null" >
        MealTypeID4 = #{mealtypeid4,jdbcType=BIT},
      </if>
      <if test="starttime != null" >
        StartTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        EndTime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="maxnum != null" >
        MaxNum = #{maxnum,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        Notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="dishstylestatus != null" >
        DishStyleStatus = #{dishstylestatus,jdbcType=BIT},
      </if>
      <if test="f1 != null" >
        F1 = #{f1,jdbcType=VARCHAR},
      </if>
      <if test="f2 != null" >
        F2 = #{f2,jdbcType=VARCHAR},
      </if>
      <if test="f3 != null" >
        F3 = #{f3,jdbcType=VARCHAR},
      </if>
      <if test="statusid != null" >
        StatusID = #{statusid,jdbcType=SMALLINT},
      </if>
      <if test="createuserid != null" >
        CreateUserID = #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuserid != null" >
        ModifyUserID = #{modifyuserid,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="dishstylecount != null" >
        DishStyleCount = #{dishstylecount,jdbcType=INTEGER},
      </if>
    </set>
    where DishStyleID = #{dishstyleid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yczn.pojo.dc.DcDishStyle" >
    update DC_DishStyle
    set ShiTangID = #{shitangid,jdbcType=BIGINT},
      DishStyleNo = #{dishstyleno,jdbcType=VARCHAR},
      DishStyleName = #{dishstylename,jdbcType=VARCHAR},
      Price = #{price,jdbcType=DECIMAL},
      ImagePath = #{imagepath,jdbcType=VARCHAR},
      FoodTypeID = #{foodtypeid,jdbcType=BIGINT},
      MealTypeID1 = #{mealtypeid1,jdbcType=BIT},
      MealTypeID2 = #{mealtypeid2,jdbcType=BIT},
      MealTypeID3 = #{mealtypeid3,jdbcType=BIT},
      MealTypeID4 = #{mealtypeid4,jdbcType=BIT},
      StartTime = #{starttime,jdbcType=VARCHAR},
      EndTime = #{endtime,jdbcType=VARCHAR},
      MaxNum = #{maxnum,jdbcType=INTEGER},
      Notes = #{notes,jdbcType=VARCHAR},
      DishStyleStatus = #{dishstylestatus,jdbcType=BIT},
      F1 = #{f1,jdbcType=VARCHAR},
      F2 = #{f2,jdbcType=VARCHAR},
      F3 = #{f3,jdbcType=VARCHAR},
      StatusID = #{statusid,jdbcType=SMALLINT},
      CreateUserID = #{createuserid,jdbcType=BIGINT},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      ModifyUserID = #{modifyuserid,jdbcType=BIGINT},
      ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      DishStyleCount = #{dishstylecount,jdbcType=INTEGER}
    where DishStyleID = #{dishstyleid,jdbcType=BIGINT}
  </update>
</mapper>